/* 
   CSS Styles for Stopwatch Web Application
   Author: Reinaldo
   Description: Stylesheet for a stopwatch web application. 
                Defines the layout, colors, and styles.
*/

/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body Styles */
html, body {
  font-family: 'poppins';
  background-color: black;
  color: white;
}

/* Main Container Styles */
.main {
  text-align: center;
}

/* Stopwatch Styles */
.stopwatch-body {
  position: relative;
  max-width: 300px;
  margin: auto;
  margin-top: 3rem;
  height: 300px;
  border: 1px solid #333;
  box-shadow: 0 0 12px 5px #111 inset;
  border-radius: 100%;
}

.stopwatch-inner-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Stopwatch Digits Styles */
span {
  margin-right: 0.5rem;
  font-size: 2.5rem;
}

span#milliseconds {
  margin-left: 2px;
  font-size: 32px;
}

/* Button Container Styles */
.btn-container {
  margin-top: 2rem;
}

/* Button Styles */
.main button {
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  border: 1px solid #333;
  border-radius: 8px;
  margin-right: 1rem;
  font-size: 18px;
}

/* Hover Effect for Buttons */
.main button:hover {
  background-color: #333;
  color: #fff;
  padding: 8px 16px;
  border: 1px solid #333;
  border-radius: 8px;
  margin-right: 1rem;
  font-size: 18px;
}

/* Footer Styles */
.footer {
  text-align: center;
  margin-top: 3rem;
}

/* Social Icons Styles */
.footer i {
  margin: 0.5rem;
}

/* Social Links Container Styles */
.footer .social {
  text-align: center;
}

/* Individual Social Icon Styles */
.social i {
  font-size: 24px;
  color: #fff;
}